* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'fira Sasn', sans-serif;
}

header {
  padding-top: 50px;
  padding-bottom: 50px;
}

header h1 {
  color: #fea735;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.content-wrap aside {
  padding-right: 16px;
}

.content-wrap aside nav {
  padding-left: 16px;
  padding-right: 16px;
}

.content-wrap aside nav h3 {
  color: #fea735;
  font-size: 24px;
  margin-bottom: 16px;
}

.content-wrap aside nav a {
  display: block;
  padding: 8px 16px;
  text-align: left;
  color: #888;
  font-size: 16px;
  margin-bottom: 16px;
  background-color: #EEE;
  border-radius: 999px;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-wrap aside nav a:hover {
  background-color: #313131;
  color: #AAA;
}

.content-wrap main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  padding: 0px 16px;
}

.content-wrap main .main-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content-wrap main .main-head .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.content-wrap main .main-head .search-box input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 16px;
  border-radius: 999px;
  background-color: #EEE;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-wrap main .main-head .search-box input ::-webkit-input-placeholder {
  color: #888;
}

.content-wrap main .main-head .search-box input :-ms-input-placeholder {
  color: #888;
}

.content-wrap main .main-head .search-box input ::-ms-input-placeholder {
  color: #888;
}

.content-wrap main .main-head .search-box input ::placeholder {
  color: #888;
}

.content-wrap main .main-head .search-box input:focus, .content-wrap main .main-head .search-box input:valid {
  background-color: #313131;
  color: #FFF;
}

.content-wrap main .manga-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px;
  margin: 32px -8px 0px;
}

.content-wrap main .manga-list .manga-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  max-width: 18.333%;
  padding: 16px 8px;
}

.content-wrap main .manga-list .manga-card a {
  text-decoration: none;
}

.content-wrap main .manga-list .manga-card figure {
  display: block;
  margin-bottom: 16px;
}

.content-wrap main .manga-list .manga-card figure img {
  display: block;
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-wrap main .manga-list .manga-card h3 {
  color: #313131;
}

.content-wrap main .manga-list .manga-card:hover figure img {
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.setting-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 35%;
}

.setting-page img {
  width: 20%;
}

.setting-page button {
  background: wheat;
  border-radius: 20px;
  margin-right: 6px;
  cursor: pointer;
}

.setting-page button:hover {
  color: orange;
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

.setting-page textarea {
  width: 400px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.watchlist-page .manga-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 99%;
}

.watchlist-page .manga-list .manga-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  max-width: 18.333%;
  padding: 16px 8px;
}

.watchlist-page .manga-list .manga-card a {
  text-decoration: none;
}

.watchlist-page .manga-list .manga-card figure {
  display: block;
  margin-bottom: 16px;
}

.watchlist-page .manga-list .manga-card figure img {
  display: block;
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.watchlist-page .manga-list .manga-card h3 {
  color: #313131;
}

.watchlist-page .manga-list .manga-card:hover figure img {
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.nav-container {
  position: fixed;
}

.nav-container a {
  text-decoration: none;
  color: #AAAAAA;
}

.nav-container h5 {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.nav-container .icons {
  position: fixed;
  z-index: 10;
  width: 200px;
  top: 183px;
}

@media screen and (max-width: 590px) {
  .nav-container .icons {
    margin: 2px 0 0 -9px;
  }
}

.nav-container .icons .icons-bis {
  background-color: #272727;
  left: 10px;
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-container .icons .icons-bis a {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  display: inline-block;
  text-decoration: none;
  margin-left: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.nav-container .icons .icons-bis a:before {
  -webkit-transition: .15s ease;
  transition: .15s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  z-index: -10;
  content: "";
  height: 45px;
  width: 45px;
  position: absolute;
  border-radius: 50px;
}

.nav-container .icons .icons-bis a:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.nav-container .icons .icons-bis a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (max-width: 590px) {
  .nav-container .icons .icons-bis a:hover::before {
    height: 34px;
    width: 34px;
  }
}

@media screen and (max-width: 590px) {
  .nav-container .icons .icons-bis a img {
    height: 34px;
    width: 34px;
  }
}

.nav-container .icons .icons-bis .active-left-nav {
  position: relative;
}

.nav-container .icons .icons-bis .active-left-nav::after {
  content: "";
  height: 40px;
  width: 5px;
  position: absolute;
  left: -7px;
  bottom: 8px;
  border-radius: 40px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-animation: scale 1.5s ease forwards;
          animation: scale 1.5s ease forwards;
}

@-webkit-keyframes scale {
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes scale {
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@media screen and (max-width: 590px) {
  .nav-container .icons .icons-bis .active-left-nav::after {
    height: 33px;
    left: -8px;
  }
}

aside .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 188px;
}
/*# sourceMappingURL=index.css.map */