#search{
    position: fixed;
    top: 13%;
    left: 0px;
    font-size: 14px;
    font-family: ProximaNova;
    font-weight: 400;
    border: 1px solid #353535;
    outline: 0;
    color: #fff;
    padding: 4px 6px 4px 26px;
    background-color: #222;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
    width: 196px;
}