.avatar {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    img {
        width: 10%;
        align-self: flex-start;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: start;

        label, input {
            width: 12%;
            align-self: flex-start;
        }
    }
}

.nav-tabs {
    display: flex;

    li{
        margin-right: 5%;
        margin-left: 5%;
        list-style: none;
        cursor: pointer;
    }
}

.profil-page-container{
    .movie-page{
        .container{
            margin: 0;
        }
    }
}